<a href="https://colab.research.google.com/github/shristidrolia17/cv/blob/main/python_activities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Define Your fixed value
# win = 3
# draws =1
# losses =0

In [ ]:
#calculate the total points gained by team london
Team_London = 6*3+2*0+1*1

In [ ]:
#print the solutions
print(Team_London)

19

In [ ]:
x=3
y=4

In [ ]:
# Addition
z = x+y
print(z)

7

In [ ]:
length=13
width=4

In [ ]:
#Addition
area=length+width
print(area)

17

In [ ]:
#Define your fixed value
wins=3
losses=-1
draws=1

total_wins=10
total_loss=0
total_draw=2

In [ ]:
points = total_wins*wins+total_loss*losses+total_draw*draws

In [ ]:
#3.print the variable london_points
print(points)

32

In [ ]:
raisin=50
almomds=60
apricot=20
total_dryfruits= raisin+almomds+apricot

In [ ]:
#calculate the percentage of raisin and print the variable
percentage_of_raisin= raisin/total_dryfruits*100
print(percentage_of_raisin)

38.46153846153847

In [ ]:
#calculate the percentage of almonds and print the variable
percentage_of_almonds= almomds/total_dryfruits*100
print(percentage_of_almonds)

46.15384615384615

In [ ]:
#calculate the percentage of apricot and print the variable
percentage_of_apricot= apricot/total_dryfruits*100
print(percentage_of_apricot)

15.384615384615385

In [ ]:
a=10000
b=17

In [ ]:
a==b

False